<div class="container-fluid p-5 bg-dark text-white text-center">
  <h1>Listado de jugadores</h1>
  <p>Desarrollador Sair Garcés</p>
</div>
<div class="container mt-3">
  <div style="display: flex; justify-content: space-between;">
    <button type="button" class="btn btn-dark" style="margin: 10px 0 30px 0;" data-toggle="tooltip"
      data-placement="top" title="Agregar" data-bs-toggle="modal" data-bs-target="#addPlayer">
      <i class="bi bi-person-plus-fill m-2"></i>Agregar
    </button>

    <button type="button" class="btn btn-dark" style="margin: 10px 0 30px 0;" data-toggle="tooltip"
    data-placement="top" title="Calcular" (click)="calculate()">
    <i class="bi bi-calculator"></i>Calcular Promedio Edad
    </button>
  </div>
  <div style="display: flex; justify-content: end;">
      <p>Total promedio: <span style="font-weight: bold;"> {{totalCalculado | number}} Años</span></p>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Copas</th>
        <th>Grupo</th>
        <th>Posición</th>
        <th>Fecha de nacimiento</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listData">
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.cups}}</td>
        <td>{{data.team}}</td>
        <td>{{data.position}}</td>
        <td>{{data.birthdate | date:"mediumDate" }}</td>
        <td>
          <button type="button" class="btn btn-dark" style="margin-right: 5px;" data-toggle="tooltip"
            data-placement="top" title="Editar" data-bs-toggle="modal" data-bs-target="#editPlayer"
            (click)="editData(data)">
            <i class="bi bi-pencil"></i>
          </button>
          <button type="button" class="btn btn-danger" data-toggle="tooltip" (click)="deleteData(data.id)"
            data-placement="top" title="Eliminar">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ul class="pagination">
    <li class="page-item" style="cursor: pointer"><a class="page-link" (click)="previousPage()">Anterior</a></li>
    <li class="page-item" style="cursor: pointer"><a class="page-link" (click)="nextPage()">Siguiente</a></li>
  </ul>
</div>

<!-- Modal add -->
<div class="modal fade" id="addPlayer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo jugador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
            <input type="number" class="form-control" placeholder="Copa" formControlName="cups">
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Grupo" formControlName="team">
            <input type="text" class="form-control" placeholder="Posición" formControlName="position">
            <input type="date" class="form-control" placeholder="Fecha de nacimiento" formControlName="birthdate">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-dark" (click)="submitAdd()">Agregar jugador</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal edit -->
<div class="modal fade" id="editPlayer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo jugador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
            <input type="number" class="form-control" placeholder="Copa" formControlName="cups">
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Grupo" formControlName="team">
            <input type="text" class="form-control" placeholder="Posición" formControlName="position">
            <input type="date" class="form-control" placeholder="Fecha de nacimiento" formControlName="birthdate">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-dark" (click)="submitEdit()">Editar jugador</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
